* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

  /* -webkit-tap-highlight-color: transparent; */
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #dde5f4;
}

.container {
  background-color: #f1f7fe;
  border-radius: 1rem;
  width: 20rem;
  height: 35rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 10rem;
}

.inputPhoneContainer,
.preVerifyPhoneContainer,
.verifyPhoneContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.preVerifyPhoneContainer {
  gap: 2rem;
}

.verifyPhoneContainer {
  gap: 1rem;
}

.inputPhoneContainer {
  margin-top: 2rem;
  /* display: none; */
}
.preVerifyPhoneContainer {
  margin-top: 6rem;
  display: none;
}
.verifyPhoneContainer {
  margin-top: 6rem;
  display: none;
}

.phoneInput {
  width: 100%;
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
  text-align: center;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0 2em hsl(231deg 62% 94%);
}

.phoneInput:focus {
  outline: none;
}

.nextBtn,
.startVerificationBtn,
.changePhoneBtn {
  width: 100%;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #004daf;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 500;
}

.nextBtn {
  margin-top: 1rem;
}

/* Pre verification */
/* .textContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
} */

#yourPhone {
  font-weight: bold;
  white-space: nowrap;
  font-size: 1.3rem;
  text-align: center;
}

.phoneSpelling {
  font-size: 1rem;
  text-align: center;
}

/* .preVerifyPhoneContainer p {
  font-size: 0.8rem;
} */

.preVerifyPhoneContainer a {
  font-size: 0.8rem;
  text-decoration: none;
  color: #004daf;
}

.startVerificationBtn, .changePhoneBtn {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}

.changePhoneBtn {
  margin-bottom: 0.5rem;
  background-color: #e7edf4;
  color: black;
}

.startVerificationBtn:disabled {
  background-color: lightgray;
  color: black;
}

/* Verification */
.pinBox {
  --width: 100%;
  --height: 74px;
  --spacing: 2rem;

  display: inline-block;
  position: relative;
  width: var(--width);
  height: var(--height);
  background-color: transparent;
}

.pinEntry {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding-left: 2.2rem;
  font-family: courier, monospaced;
  font-size: var(--spacing);
  height: var(--height);
  letter-spacing: var(--spacing);
  background-color: transparent;
  outline: none;
  clip: rect(0px, calc(var(--width) - 21px), var(--height), 0px);

  border: 1px solid lightgray;
  border-radius: 1rem;

  color: #004daf;
}

.verifyPhoneContainer p {
  font-size: 0.8rem;
  text-align: center;
  margin: 0 1rem;
}

.verifyPhoneContainer a {
  font-size: 0.8rem;
  text-decoration: none;
  color: #004daf;
  margin-top: 1rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.usage-terms {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.5rem;
}

.business-info-container {
  margin-top: 1rem;
}

.business-info {
  color: gray;
  font-size: 0.6rem;
  text-align: center;
}

#restartTimer {
  color: #004daf;
}

#restartTimer.restartTimerDisabled {
  color: gray;
  pointer-events: none;
}


/* Checkbox */
.checkbox-rect {
  margin-top: 0.6rem;
}
.checkbox-rect input[type="checkbox"] {
  display: none;
}
.checkbox-rect input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 1.7rem;
  margin-bottom: 20px;
  font: 14px/20px "Open Sans", Arial, sans-serif;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 0.85rem;
}
.checkbox-rect input[type="checkbox"]:hover + label:hover {
  color: #004daf;
}
.checkbox-rect input[type="checkbox"]:hover + label:before {
  background: #004caf71;
  box-shadow: inset 0px 0px 0px 2px #f1f7fe;
}
.checkbox-rect input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}
.checkbox-rect input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #004daf;
  border-radius: 0.3em;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.2s, background 0.2s ease-in-out;
  transition: all 0.2s, background 0.2s ease-in-out;
  background: #f1f7fe;
}
.checkbox-rect input[type="checkbox"]:checked + label:before {
  width: 1.3em;
  height: 1.3em;
  border-radius: 0.3em;
  border: 2px solid #f1f7fe;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background: #004daf;
  box-shadow: 0 0 0 1px #004daf;
}


.divider {
  width: 100%;
  height: 1px;
  border-top: 1px solid lightgrey;
  margin: 1.5rem 0;
}
