@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #b6c4dd #f1f7fe;
}

*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #f1f7fe;
}

*::-webkit-scrollbar-thumb {
  background-color: #b6c4dd;
  border-radius: 5px;
  border: 3px solid #f1f7fe;
}

/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #dde5f4;
  z-index: 6;
}
.preloader .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.preloader .container img {
  width: 12rem;
}
.preloader .container .loader {
  margin-top: 2rem;
  width: 100%;
  height: 4.8px;
  display: inline-block;
  position: relative;
  background: #f1f7fe;
  overflow: hidden;
}
.preloader .container .loader::after {
  content: "";
  width: 100px;
  height: 4.8px;
  background: #004daf;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}
@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}

/* First section */
.first-section {
  width: 100%;
  height: 100svh;
  min-height: 650px;
  background: linear-gradient(to bottom, #dde5f4 2.5rem, #f1f7fe 4rem);
  border-bottom: 1px solid #dde5f4;
}

header {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 2rem;
}
header .logo-header {
  height: 2.4rem;
}
header .links {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
header .links a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
header .links a:hover {
  color: #004daf;
}
header .nav {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
header .nav a {
  text-decoration: none;
  color: #004daf;
  font-weight: 600;
}
header .nav a:hover {
  color: black;
}

.first-section-content {
  width: 70%;
  display: flex;
  gap: 3rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -58%);
}
.first-section-content .left {
  width: 50%;
  margin: auto;
}
.first-section-content .left h1 {
  font-weight: 800;
  font-size: 3rem;
  line-height: 3rem;
}
.first-section-content .left h2 {
  font-weight: 500;
  font-size: 1.6rem;
  margin-top: 1rem;
}
.first-section-content .left .btns-container {
  display: flex;
  gap: 1rem;
  margin-top: 2.5rem;
}
.first-section-content .right {
  width: 50%;
}
.first-section-content .right .illustration1 {
  width: 100%;
}

.btn {
  width: 100%;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 1rem;
  background-color: #004daf;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 500;
}
.btn:hover {
  background-color: #003f92;
}

.find-umbrella-1-btn {
  font-size: 1.3rem;
}

.learn-more-btn {
  font-size: 1.3rem;
  background-color: #dde5f4;
  color: black;
}
.learn-more-btn:hover {
  background-color: #cbd3e1;
}

.current-weather {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.current-weather span {
  font-weight: 500;
}
.current-weather .current-weather-dot {
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
  position: relative;
}
.current-weather .current-weather-dot::after,
.current-weather .current-weather-dot::before {
  content: "";
  box-sizing: border-box;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: #004daf;
  position: absolute;
  left: 0;
  top: 0;
  animation: anim-dot 2s linear infinite;
}
.current-weather .current-weather-dot::after {
  animation-delay: 1s;
}
@keyframes anim-dot {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* Short tutorial */
.short-tutorial-section {
  width: 100%;
  position: relative;
  background-color: #f1f7fe;
  padding-top: 5rem;
}

.short-tutorial-ocean {
  height: 50px; /* change the height of the waves here */
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.short-tutorial-wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23004daf'/%3E%3C/svg%3E");
  position: absolute;
  width: 200%;
  height: 100%;
  animation: short-tutorial-wave 100s -3s alternate infinite;
  transform: translate3d(0, 0, 0);
  opacity: 1;
  right: 0;
}

.short-tutorial-wave:nth-of-type(2) {
  bottom: 0;
  animation: short-tutorial-wave 180s linear alternate-reverse infinite;
  opacity: 0.5;
}

.short-tutorial-wave:nth-of-type(3) {
  bottom: 0;
  animation: short-tutorial-wave 200s -1s alternate infinite;
  opacity: 0.5;
}

@keyframes short-tutorial-wave {
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(25%);
  }
  50% {
    transform: translateX(50%);
  }
}
.short-tutorial-container {
  padding: 2rem;
  width: 100%;
  background-color: #004daf;
  display: flex;
  justify-content: center;
  gap: 3rem;
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  position: relative;
  top: -1px;
}
.short-tutorial-container .arrow-down {
  display: none;
}

/* Pricing section */
.pricing-section {
  width: 100%;
  background-color: #f1f7fe;
  padding: 5rem 0 3rem;
  border-bottom: 1px solid #dde5f4;
}
.pricing-section h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  padding: 0 1rem;
}
.pricing-section .left-right-container {
  width: 80%;
  margin: 5rem auto;
  display: flex;
  gap: 3rem;
}
.pricing-section .left-right-container .left {
  width: 50%;
  margin: auto;
}
.pricing-section .left-right-container .left .illustration2 {
  transform: scale(-1, 1);
  width: 80%;
  margin: auto;
}
.pricing-section .left-right-container .right {
  width: 50%;
  margin: auto;
}

.pricing-scheme-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.pricing-scheme-container .item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.pricing-scheme-container .item .time, .pricing-scheme-container .item .price {
  display: flex;
  flex-direction: column;
  width: 42%;
  background-color: #dde5f4;
  border-radius: 1rem;
  padding: 0.7rem;
  text-align: center;
  justify-content: center;
}
.pricing-scheme-container .item small {
  color: gray;
}
.pricing-scheme-container .item .line-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #004daf;
  position: relative;
  font-size: 1.7rem;
}
.pricing-scheme-container .item .line-item::before {
  content: "";
  position: absolute;
  height: calc(100% + 1rem);
  width: 2px;
  background-color: #004daf;
  top: 0;
  left: calc(50% - 1px);
}
.pricing-scheme-container .item .line-item i {
  position: relative;
  z-index: 2;
}
.pricing-scheme-container .item .line-item.last::before {
  height: 50%;
}

/* Faq section */
.faq-section {
  width: 100%;
  background-color: #dde5f4;
  padding: 5rem 0 2.5rem;
  margin-top: 400px;
}

@media (max-width: 768px) {
  .faq-section {
    margin-top: 700px;
  }
}
.faq-headers {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}
.faq-headers h2 {
  font-size: 2rem;
  font-weight: 800;
}
.faq-headers h2:last-child {
  color: #ff815b;
}

.faq-container {
  width: 60%;
  margin: 3rem auto;
}

.accordion .accordion-item .question-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-top: 1px solid #ff815b;
  cursor: pointer;
  font-weight: 600;
}
.accordion .accordion-item .question-container i {
  color: #ff815b;
}
.accordion .accordion-item .question-container i.close {
  display: none;
}
.accordion .accordion-item .content {
  opacity: 0;
  padding: 0 2rem;
  max-height: 0;
  overflow: hidden;
  clear: both;
  transition: all 0s ease;
}
.accordion .accordion-item .content p {
  font-size: 1rem;
  font-weight: 300;
}
.accordion .accordion-item.active .content {
  opacity: 1;
  padding: 1rem 2rem;
  max-height: 100%;
  transition: all 0s ease;
}
.accordion .accordion-item.active .question-container i.open {
  display: none;
}
.accordion .accordion-item.active .question-container i.close {
  display: block;
}

/* Support section */
.support-section {
  width: 100%;
  background-color: #dde5f4;
  padding: 2.5rem 0 6rem;
  position: relative;
  top: -1px;
}
.support-section .left-right-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
}
.support-section .left-right-container .left {
  width: 50%;
}
.support-section .left-right-container .left h2 {
  font-size: 1.8rem;
  font-weight: 800;
}
.support-section .left-right-container .left p {
  margin-top: 1rem;
  font-size: 1.2rem;
}
.support-section .left-right-container .right {
  width: 50%;
  margin: auto;
}

.support-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.support-input, .support-textarea {
  width: 100%;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
}

.support-textarea {
  resize: none;
}

.support-send-btn {
  background-color: #ff815b;
}
.support-send-btn:hover {
  background-color: #f27b56;
}

/* About section */
.about-section {
  width: 100%;
  background-color: #f1f7fe;
  padding: 6rem 0 30rem;
}
.about-section h2 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.founder-person-container {
  display: flex;
  justify-content: center;
}

.person-card .photo {
  display: block;
  width: 70%;
  margin: 0 auto;
  border-radius: 50%;
}
.person-card .name, .person-card .position {
  width: 100%;
  text-align: center;
}
.person-card .name {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1rem;
}
.person-card .position {
  display: none;
  margin-top: 0.3rem;
}
.person-card.founder {
  padding: 2rem 1rem;
  width: 18rem;
}
.person-card.founder .position {
  display: block;
}
.person-card.founder .photo {
  width: 80%;
}

.about-text {
  margin: 4rem auto 7rem;
  position: relative;
  width: 60%;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}
.about-text:before {
  content: "\f6b0";
  position: absolute;
  font-family: "bootstrap-icons";
  top: -1.8rem;
  left: -1.8rem;
  color: #974f79;
  font-size: 3rem;
}
.about-text:after {
  content: "\f6b0";
  position: absolute;
  font-family: "bootstrap-icons";
  bottom: -1.8rem;
  right: -1.8rem;
  color: #974f79;
  font-size: 3rem;
  transform: rotate(180deg);
}

.team-container {
  width: 90%;
  margin: 3rem auto 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 2rem;
}
.team-container .person-card {
  flex: 0 0 20%;
}

/* Take umbrella section */
.take-umbrella-section {
  width: 100%;
  height: 55rem;
  position: relative;
}
.take-umbrella-section .background-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.take-umbrella-section .background-container .background {
  width: 102%;
  height: 102%;
  background: url("/static/img/index/night-city.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 70%;
  filter: blur(3px);
  position: absolute;
  top: -1%;
  left: -1%;
}
.take-umbrella-section .background-container .background-cover {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.take-umbrella-section .background-container .rain {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
}
.take-umbrella-section .background-container .rain .drop {
  background: linear-gradient(to bottom, transparent, #76a9ed);
  width: 2px;
  height: 2rem;
  position: absolute;
  z-index: 3;
  border-radius: 3px;
  animation: rainDrop linear 1s;
}
.take-umbrella-section .background-container .rain .drop.on-umbrella {
  animation: rainDropOnUmbrella linear 0.45s;
}
.take-umbrella-section .background-container .rain .snowflake {
  color: #76a9ed;
  font-family: "Arial Black", sans-serif;
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  z-index: 3;
  animation: rainDrop linear 3s;
}
.take-umbrella-section .background-container .rain .snowflake.on-umbrella {
  animation: rainDropOnUmbrella linear 1.4s;
}

@keyframes rainDrop {
  0% {
    top: -2rem;
  }
  100% {
    top: calc(100% + 2rem);
  }
}
@keyframes rainDropOnUmbrella {
  0% {
    top: -2rem;
  }
  100% {
    top: 21rem;
  }
}
.take-umbrella-content {
  position: absolute;
  top: 15rem;
  left: 50%;
  width: 20rem;
  z-index: 4;
  transform: translateX(-50%);
}
.take-umbrella-content img {
  width: 100%;
}
.take-umbrella-content .take-umbrella-inner-content {
  padding: 0 2rem;
  margin-top: 2rem;
}
.take-umbrella-content .take-umbrella-inner-content h3 {
  color: white;
  font-size: 1.7rem;
  font-weight: 800;
  text-align: center;
}

.find-umbrella-2-btn {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 1.5rem;
}

.take-umbrella-cloud {
  position: absolute;
  z-index: 5;
  left: -5%;
  bottom: 75%;
  color: #974f79;
  width: 60%;
  scale: 100% 80%;
}
.take-umbrella-cloud.right {
  left: auto;
  right: -5%;
}

/* Footer */
.footer-section {
  width: 100%;
  background: linear-gradient(to right, #0a002b, #0d0737, #0f0f42, #0e0b3e, #0a002b);
  padding: 3rem 0 0;
  border-top: 1px solid #974f79;
}

footer {
  width: 80%;
  background-color: #974f79;
  margin: 0 auto;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
footer img {
  width: 8rem;
  filter: brightness(0) invert(1);
}
footer .row {
  padding: 1rem;
  border-bottom: 1px solid white;
  color: white;
}
footer .row.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 0.8rem;
}
footer .row.menu .item {
  text-align: center;
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
}
footer .row.menu .item:hover {
  color: lightgray;
}
footer .row.center {
  display: flex;
  justify-content: center;
}
footer .row.center .item {
  text-align: center;
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
}
footer .row.center .item:hover {
  color: lightgray;
}
footer .row.last {
  border: none;
}

/* Responsive */
@media only screen and (min-width: 320px) and (max-width: 640px) {
  /* preloader */
  .preloader .container img {
    width: 6rem;
  }
  /* First section */
  header {
    padding: 0.3rem 0.5rem;
  }
  header .links {
    gap: 0.5rem;
  }
  header .nav {
    display: none;
  }
  .first-section-content {
    width: 95%;
    flex-direction: column-reverse;
    gap: 1rem;
    padding-bottom: 2rem;
  }
  .first-section-content .left {
    width: 95%;
  }
  .first-section-content .left h1 {
    font-size: 1.8rem;
    line-height: 1.7rem;
  }
  .first-section-content .left h2 {
    font-size: 1.2rem;
    margin-top: 0.8rem;
  }
  .first-section-content .left .btns-container {
    gap: 0.5rem;
    margin-top: 1.5rem;
  }
  .first-section-content .right {
    width: 80%;
    margin: auto;
  }
  .find-umbrella-1-btn {
    font-size: 1rem;
  }
  .learn-more-btn {
    font-size: 1rem;
  }
  .current-weather {
    font-size: 0.8rem;
    bottom: 1rem;
    left: 1rem;
  }
  /* Short tutorial */
  .short-tutorial-container {
    padding: 2rem 1rem;
    gap: 0.5rem;
    font-size: 1.5rem;
    flex-direction: column;
    text-align: center;
  }
  .short-tutorial-container .step {
    text-align: center;
  }
  .short-tutorial-container .arrow-right {
    display: none;
  }
  .short-tutorial-container .arrow-down {
    display: inline;
  }
  /* Pricing */
  .pricing-section {
    padding: 3rem 0 3rem;
  }
  .pricing-section h2 {
    font-size: 1.8rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .pricing-section .left-right-container {
    width: 95%;
    margin: 3rem auto;
    gap: 2rem;
    flex-direction: column;
  }
  .pricing-section .left-right-container .left {
    width: 100%;
    text-align: center;
  }
  .pricing-section .left-right-container .left .illustration2 {
    width: 80%;
  }
  .pricing-section .left-right-container .right {
    width: 100%;
    margin: auto;
  }
  /* FAQ */
  .faq-headers {
    width: 90%;
    flex-direction: column;
    padding: 0;
  }
  .faq-headers h2:last-child {
    text-align: right;
  }
  .faq-container {
    width: 95%;
  }
  .accordion .accordion-item .content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .accordion .accordion-item.active .content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  /* Support */
  .support-section .left-right-container {
    width: 90%;
    flex-direction: column;
  }
  .support-section .left-right-container .left {
    width: 100%;
  }
  .support-section .left-right-container .right {
    width: 100%;
  }
  /* About */
  .about-section {
    padding-bottom: 15rem;
  }
  .about-section h2 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .about-text {
    margin: 5rem auto 7rem;
    width: 95%;
    font-size: 1.1rem;
  }
  .about-text:before {
    top: -2rem;
    left: -0.5rem;
  }
  .about-text:after {
    bottom: -2rem;
    right: -0.5rem;
  }
  .team-container {
    width: 95%;
    row-gap: 2rem;
  }
  .team-container .person-card {
    flex: 0 0 50%;
  }
  .person-card .photo {
    width: 70%;
  }
  .person-card .name {
    font-size: 1.1rem;
  }
  /* Take umbrella */
  .take-umbrella-section {
    height: 55rem;
  }
  .take-umbrella-cloud {
    bottom: 89%;
    scale: 100%;
    width: 110%;
  }
  .take-umbrella-cloud.right {
    display: none;
  }
  .take-umbrella-content {
    top: 15rem;
    width: 17rem;
  }
  /* Footer */
  footer {
    width: 100%;
  }
  footer .row.menu {
    column-gap: 0;
  }
  footer .row.menu .item {
    flex: 0 0 33.3333333333%;
    font-size: 1rem;
  }
  footer .row.last {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 481px) and (max-width: 640px) {
  /* First section */
  .first-section-content {
    width: 85%;
  }
  .first-section-content .right {
    width: 80%;
  }
  /* Support */
  .take-umbrella-cloud {
    bottom: 85%;
  }
  /* About */
  .about-section {
    padding-bottom: 20rem;
  }
}
@media only screen and (min-width: 641px) and (max-width: 800px) {
  /* First section */
  header .nav {
    display: none;
  }
  .first-section-content {
    width: 95%;
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .first-section-content .left {
    width: 70%;
  }
  .first-section-content .right {
    margin: auto;
    text-align: center;
  }
  .first-section-content .right .illustration1 {
    width: auto;
    height: 30svh;
  }
  /* Short tutorial */
  .short-tutorial-container {
    padding: 2rem 1rem;
    gap: 0.8rem;
    flex-direction: column;
    text-align: center;
  }
  .short-tutorial-container .step {
    text-align: center;
  }
  .short-tutorial-container .arrow-right {
    display: none;
  }
  .short-tutorial-container .arrow-down {
    display: inline;
  }
  /* Pricing */
  .pricing-section {
    padding: 3rem 0 3rem;
  }
  .pricing-section h2 {
    font-size: 1.8rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .pricing-section .left-right-container {
    width: 95%;
    margin: 3rem auto;
    gap: 3rem;
    flex-direction: column;
  }
  .pricing-section .left-right-container .left {
    width: 100%;
    text-align: center;
  }
  .pricing-section .left-right-container .left .illustration2 {
    width: 60%;
  }
  .pricing-section .left-right-container .right {
    width: 100%;
    margin: auto;
  }
  /* FAQ */
  .faq-headers {
    width: 80%;
    flex-direction: column;
    padding: 0;
  }
  .faq-headers h2:last-child {
    text-align: right;
  }
  .faq-container {
    width: 85%;
  }
  /* Support */
  .support-section .left-right-container {
    width: 75%;
    flex-direction: column;
  }
  .support-section .left-right-container .left {
    width: 100%;
  }
  .support-section .left-right-container .right {
    width: 100%;
  }
  /* About */
  .about-section {
    padding-bottom: 25rem;
  }
  .about-section h2 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .about-text {
    width: 85%;
    font-size: 1.1rem;
  }
  .team-container {
    width: 95%;
    row-gap: 2rem;
  }
  .team-container .person-card {
    flex: 0 0 33.3333333333%;
  }
  .person-card .photo {
    width: 70%;
  }
  .person-card .name {
    font-size: 1.1rem;
  }
  /* Take umbrella */
  .take-umbrella-section {
    height: 55rem;
  }
  .take-umbrella-cloud {
    bottom: 80%;
    scale: 100%;
    width: 110%;
  }
  .take-umbrella-cloud.right {
    display: none;
  }
  .take-umbrella-content {
    top: 15rem;
    width: 17rem;
  }
  /* Footer */
  footer {
    width: 100%;
  }
  footer .row.menu {
    column-gap: 0;
  }
  footer .row.menu .item {
    flex: 0 0 25%;
    font-size: 1rem;
  }
  footer .row.last {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 801px) and (max-width: 960px) {
  /* First section */
  header {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .first-section-content {
    width: 95%;
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .first-section-content .left {
    width: 70%;
  }
  .first-section-content .right {
    margin: auto;
    text-align: center;
  }
  .first-section-content .right .illustration1 {
    width: auto;
    height: 30svh;
  }
  /* Short tutorial */
  .short-tutorial-container {
    font-size: 1.4rem;
    gap: 0.8rem;
  }
  /* Pricing */
  .pricing-section {
    padding: 3rem 0 3rem;
  }
  .pricing-section h2 {
    font-size: 1.8rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .pricing-section .left-right-container {
    width: 95%;
    margin: 3rem auto;
    gap: 3rem;
    flex-direction: column;
  }
  .pricing-section .left-right-container .left {
    width: 100%;
    text-align: center;
  }
  .pricing-section .left-right-container .left .illustration2 {
    width: 60%;
  }
  .pricing-section .left-right-container .right {
    width: 90%;
    margin: auto;
  }
  /* FAQ */
  .faq-headers {
    width: 80%;
    padding: 0;
  }
  .faq-container {
    width: 85%;
  }
  /* Support */
  .support-section .left-right-container {
    width: 65%;
    flex-direction: column;
  }
  .support-section .left-right-container .left {
    width: 100%;
  }
  .support-section .left-right-container .right {
    width: 100%;
  }
  /* About */
  .about-section {
    padding-bottom: 20rem;
  }
  .about-section h2 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .about-text {
    width: 85%;
    font-size: 1.1rem;
  }
  .team-container {
    width: 95%;
    row-gap: 2rem;
  }
  .team-container .person-card {
    flex: 0 0 33.3333333333%;
  }
  .person-card .photo {
    width: 70%;
  }
  .person-card .name {
    font-size: 1.1rem;
  }
  /* Take umbrella */
  .take-umbrella-cloud {
    bottom: 85%;
  }
  /* Footer */
  footer {
    width: 90%;
  }
  footer .row.menu .item {
    flex: 0 0 16.6666666667%;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1280px) {
  /* First section */
  .first-section-content {
    width: 90%;
    gap: 0.5rem;
  }
  /* Short tutorial */
  .short-tutorial-container {
    font-size: 1.5rem;
  }
  /* Pricing */
  .pricing-section .left-right-container {
    width: 90%;
    gap: 2rem;
  }
  .pricing-section .left-right-container .left .illustration2 {
    width: 90%;
  }
  /* FAQ */
  .faq-headers {
    width: 75%;
  }
  .faq-container {
    width: 75%;
    margin: 3rem auto;
  }
  /* Support */
  .support-section .left-right-container {
    width: 75%;
    gap: 2rem;
  }
  /* About */
  .about-section {
    padding-bottom: 20rem;
  }
  .about-text {
    width: 70%;
  }
  .team-container {
    width: 80%;
    row-gap: 2rem;
  }
  .team-container .person-card {
    flex: 0 0 33.3333333333%;
  }
  .person-card .photo {
    width: 60%;
  }
  /* Take umbrella */
  .take-umbrella-cloud {
    bottom: 81%;
  }
}
@media only screen and (min-width: 1601px) and (max-width: 2100px) {
  /* Take umbrella */
  .take-umbrella-cloud {
    bottom: 69%;
  }
}
.payment-container {
  display: flex;
  justify-content: space-between;
  background-color: #dde5f4;
  padding: 0;
  border-radius: 14px; /* Закругление углов контейнера */
  overflow: hidden; /* Чтобы блоки не выходили за закругленные углы */
  margin-top: 50px;
  margin-left: 120px;
  margin-right: 120px;
}

.payment-option {
  flex: 1;
  padding: 20px;
  box-shadow: none;
}

.payment-option:nth-child(1) {
  background-color: #F0F5FA;
}

.payment-option:nth-child(2) {
  background-color: #E6EEF7;
}

.payment-option:nth-child(3) {
  background-color: #DEE8F4;
}

.payment-option:nth-child(4) {
  background-color: #D6E2F1;
}

.payment-option h5 {
  margin-top: 1;
  color: #004EAB;
}

.tar-glav {
  margin-top: 5%;
  font-family: Arial;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  background-color: white;
  margin-left: 120px;
}

.tar-tit-text {
  font-family: Arial;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  margin-left: 20%;
  margin-top: 20%;
}

.tar-tit {
  margin-top: 10px;
}

.payment-option p {
  margin: 7px 0;
  font-size: 12px;
}

/* Мобильная версия */
@media (max-width: 768px) {
  .payment-container {
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .payment-option {
    margin: 0;
    border-bottom: 1px solid #ccc; /* Добавляем границу между блоками для разделения */
  }
  .payment-option:last-child {
    border-bottom: none; /* Убираем последнюю границу */
  }
  .tar-glav {
    margin-top: 10%;
    font-family: Arial;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    background-color: white;
    margin-left: 0px;
  }
}
.cards {
  display: flex;
  justify-content: left;
  margin-top: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 110px;
}

.tar-text {
  font-family: Arial;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  width: 197px;
  height: 48px;
  margin-left: -580px;
  padding-left: 50%;
  margin-top: 60px;
  margin-bottom: 30px;
}

.card-left {
  background-color: #fff;
  width: 565px;
  height: 334px;
  top: 8px;
  gap: 0px;
  border-radius: 20px;
  border: 0.7px 0px 0px 0px;
  opacity: 0px;
  border: 0.7px solid rgba(18, 15, 29, 0.2509803922);
}

.card-left-back {
  background: linear-gradient(120deg, #0066E0, #00c6e0);
  width: 565px;
  height: 232px;
  top: 8px;
  gap: 0;
  border-radius: 20px;
  border: 0.7px 0px 0px 0px;
  opacity: 0px;
  padding-top: 10px;
}

.card-right {
  background-color: #fff;
  width: 565px;
  height: 232px;
  top: 8px;
  gap: 0px;
  border-radius: 20px;
  border: 0.7px 0px 0px 0px;
  opacity: 0px;
  border: 0.7px solid rgba(18, 15, 29, 0.2509803922);
}

.card-right-back {
  background-color: rgba(18, 15, 29, 0.25);
  width: 566px;
  height: 232px;
  top: 8px;
  gap: 0px;
  border-radius: 20px;
  border: 0.7px 0px 0px 0px;
  opacity: 0px;
  margin-left: 30px;
  padding-top: 10px;
}

.character-left {
  margin-top: 24px;
  margin-left: 24px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #004EAB;
}

.character-right {
  margin-top: 24px;
  margin-left: 24px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: grey;
}

.price {
  margin-left: 24px;
  margin-top: 32px;
  font-family: Roboto Condensed;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.period-left {
  font-family: Roboto Condensed;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-left: 0px;
  margin-top: -32px;
  margin-left: 100px;
}

.description {
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 323px;
  height: 40px;
  margin-left: 24px;
  margin-top: 25px;
  gap: 0px;
  opacity: 50%;
}

.additional-left-info-part1 {
  font-family: Arial;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-left: 24px;
  margin-top: 20px;
}

.additional-right-info-part1 {
  font-family: Arial;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-left: 24px;
  margin-top: 30px;
}

.additional-left-info-part1-1 {
  font-family: Arial;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  opacity: 50%;
  margin-left: 0;
}

.additional-right-info-part1-1 {
  font-family: Arial;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  opacity: 50%;
  margin-left: 0;
}

.additional-left-info-plus {
  font-family: Arial;
  font-size: 24px;
  font-weight: 900;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  opacity: 50%;
  margin-left: 0;
  margin-top: -20px;
  margin-left: 155px;
}

.additional-right-info-plus {
  font-family: Arial;
  font-size: 24px;
  font-weight: 900;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  opacity: 50%;
  margin-left: 0;
  margin-top: -20px;
  margin-left: 179px;
}

.additional-left-info-part2 {
  font-family: Arial;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-left: 0;
  margin-top: -20px;
  margin-left: 183px;
}

.additional-right-info-part2 {
  font-family: Arial;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-left: 0;
  margin-top: -20px;
  margin-left: 207px;
}

.additional-left-info-part2-1 {
  font-family: Arial;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-left: 0;
  margin-top: -40px;
  opacity: 50%;
}

.additional-right-info-part2-1 {
  font-family: Arial;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-left: 0;
  margin-top: -40px;
  opacity: 50%;
}

.btn-left {
  display: block;
  margin: 0 auto;
  width: 516px;
  height: 50px;
  padding: 16px;
  gap: 8px;
  border: none;
  border-radius: 8px;
  opacity: 0px;
  background: #0066E0;
  font-family: Arial;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  box-shadow: none;
  margin-top: 30px;
}

.btn-right {
  display: block;
  margin: 0 auto;
  width: 516px;
  height: 50px;
  padding: 16px;
  gap: 8px;
  border: none;
  border-radius: 8px;
  opacity: 0px;
  background: rgba(0, 78, 171, 0.07);
  font-family: Arial;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: rgb(0, 78, 171);
  box-shadow: none;
  margin-top: 0px;
}

.note {
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-left: 24px;
  color: #004EAB;
  opacity: 75%;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .tar-glav {
    margin-top: 10px;
  }
  .cards {
    display: table-column;
    margin-top: 300px;
  }
  .card-left {
    background-color: #fff;
    max-width: 340px;
    height: 334px;
    top: 8px;
    gap: 0px;
    border-radius: 20px;
    border: 0.7px 0px 0px 0px;
    opacity: 0px;
    border: 0.7px solid rgba(18, 15, 29, 0.2509803922);
  }
  .card-left-back {
    background: linear-gradient(120deg, #0066E0, #00c6e0);
    max-width: 340px;
    height: 232px;
    top: 8px;
    gap: 0;
    border-radius: 20px;
    border: 0.7px 0px 0px 0px;
    opacity: 0px;
    padding-top: 10px;
  }
  .card-right {
    background-color: #fff;
    max-width: 340px;
    height: 232px;
    top: 8px;
    gap: 0px;
    border-radius: 20px;
    border: 0.7px 0px 0px 0px;
    opacity: 0px;
    border: 0.7px solid rgba(18, 15, 29, 0.2509803922);
  }
  .card-right-back {
    background-color: rgba(18, 15, 29, 0.25);
    max-width: 340px;
    height: 232px;
    top: 108px;
    gap: 0px;
    border-radius: 20px;
    border: 0.7px 0px 0px 0px;
    opacity: 0px;
    margin-left: 0px;
    padding-top: 10px;
    margin-top: 150px;
  }
  .btn-left {
    max-width: 300px;
    margin-top: 30px;
  }
  .btn-right {
    max-width: 300px;
    margin-top: 0px;
  }
  .note {
    font-family: Arial;
    font-size: 8px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 24px;
    color: #004EAB;
    opacity: 75%;
    margin-top: 10px;
  }
  .additional-left-info-part1 {
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 24px;
    margin-top: 20px;
  }
  .additional-right-info-part1 {
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 24px;
    margin-top: 30px;
  }
  .additional-left-info-part1-1 {
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    opacity: 50%;
    margin-left: 0;
  }
  .additional-right-info-part1-1 {
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    opacity: 50%;
    margin-left: 0;
  }
  .additional-left-info-plus {
    font-family: Arial;
    font-size: 12px;
    font-weight: 900;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    opacity: 50%;
    margin-left: 30px;
    margin-top: -20px;
    margin-left: 110px;
  }
  .additional-right-info-plus {
    font-family: Arial;
    font-size: 12px;
    font-weight: 900;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    opacity: 50%;
    margin-top: -20px;
    margin-left: 120px;
  }
  .additional-left-info-part2 {
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 0;
    margin-top: -20px;
    margin-left: 130px;
  }
  .additional-right-info-part2 {
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 0;
    margin-top: -20px;
    margin-left: 140px;
  }
  .additional-left-info-part2-1 {
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 0;
    margin-top: -40px;
    opacity: 50%;
  }
  .additional-right-info-part2-1 {
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 0;
    margin-top: -40px;
    opacity: 50%;
  }
  .tar-title {
    font-family: Arial;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    margin-top: 10px;
  }
  .tar-text {
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    width: 197px;
    height: 48px;
    margin-top: -20px;
  }
}/*# sourceMappingURL=index.css.map */