/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  background: #f2f2f2;
}
.container{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.container .registration{
  display: none;
}
#check:checked ~ .registration{
  display: block;
}
#check:checked ~ .login{
  display: none;
}
#check{
  display: none;
}
.container .form{
  padding: 2rem;
}
.form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}
 .form input{
   height: 50px;
   max-width: 430px;
   width: 90%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 0rem;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
 }
 .form input:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }
.form a{
  font-size: 16px;
  color: #004eab;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}
.center_img{
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
}
.center{
  text-align: center;
}
.help_button{
    height: 50px;
    max-width: 430px;
    width: 90%;
    padding: 0 15px;
    font-size: 17px;
    margin-top: 1.5rem;
    background-color: transparent;
}
.size{
  max-width: 300px;
  min-width: 100px;
  width: 70%;
  max-hight: 300px;
  min-hight: 100px;
  hight: 70%;
}
.logo{
  max-width: 400px;
  min-width: 100px;
  width: 90%;
}
.form input.button{
  margin-bottom: -1rem;
  color: #fff;
  background: #004eab;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.form input.button:hover{
  background: #ff815b;
}
.signup{
  font-size: 17px;
  text-align: center;
}
.signup label{
  color: #004eab;
  cursor: pointer;
}
.signup label:hover{
  text-decoration: underline;
}
