* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #dde5f4;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.logo {
    height: 2rem;
}

.logout-btn {
    border: 1px solid #dc3545;
    background: transparent;
    color: black;
}

.logout-btn:hover {
    background: #dc3545;
    color: white;
}

main {
    width: 100%;
    max-width: 50rem;
    margin: 1rem auto;
    background: #fff;
    padding: 0 1.5rem;
    background-color: #dde5f4;
}

.card {
    margin-bottom: 1.5rem;
    padding: 15px;
    /* border: 1px solid #ddd; */
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f1f7fe;
}

h2 {
    margin-bottom: 0.5rem;
}

.profile-card p {
    font-size: 0.9rem;
    color: gray;
}

.profile-card p span {
    font-size: 1rem;
    color: black;
}


button {
    display: block;
    padding: 0.5rem 0.8rem;
    color: #004daf;
    background-color: transparent;
    border: 1px solid #004daf;
    border-radius: 0.4rem;
    cursor: pointer;
}

button:hover {
    background: #004daf;
    color: white;
}


.edit-btn {
    margin-top: 1rem;
}


/* Modal */
.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;

    transition: visibility 0s linear 0.3s, opacity 0.3s ease;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    
    transform: translateY(-50px);
    transition: transform 0.3s ease;
}

.modal.show {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.modal.show .modal-content {
    transform: translateY(0);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.save-btn {
    background: #004daf;
    color: white;
}
.save-btn:hover {
    background: #0058ca;
}


/* Edit personal data form */
#edit-form > input {
    display: block;

    width: 100%;
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 2em hsl(231deg 62% 94%);

    margin-bottom: 1rem;
}

#edit-form > label {
    display: block;
    margin-bottom: 0.2rem;
}


/* Gender toggle */
.edit-gender-wrapper {
    display: inline-flex;
    background: #fff;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);

    margin-bottom: 1rem;
}
.edit-gender-wrapper .option {
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 0.3rem;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 0.3rem;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
}
.edit-gender-wrapper .option .dot {
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
}
.edit-gender-wrapper .option .dot::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #004daf;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}
.edit-gender-wrapper input[type="radio"] {
    display: none!important;
}
#edit-gender-1:checked:checked ~ .edit-gender-1,
#edit-gender-2:checked:checked ~ .edit-gender-2 {
    border-color: #004daf;
    background: #004daf;
}
#edit-gender-1:checked:checked ~ .edit-gender-1 .dot,
#edit-gender-2:checked:checked ~ .edit-gender-2 .dot {
    background: #fff;
}
#edit-gender-1:checked:checked ~ .edit-gender-1 .dot::before,
#edit-gender-2:checked:checked ~ .edit-gender-2 .dot::before {
    opacity: 1;
    transform: scale(1);
}
.edit-gender-wrapper .option span {
    font-size: 1rem;
    color: #808080;
}
#edit-gender-1:checked:checked ~ .edit-gender-1 span,
#edit-gender-2:checked:checked ~ .edit-gender-2 span {
    color: #fff;
}
