* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

nav {
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.nav-el {
  font-size: 2rem;
  padding: 0.4rem 0.6rem 0.2rem;
  /* background: white; */
  border-radius: 0.5rem;
  border: 1px solid rgb(231, 231, 231);
}

.nav-el:hover {
  background: rgba(255, 255, 255, 0.7);
}

.logo {
  width: 8rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 2;
}


/* Station marker */
.station-marker {
  width: 3rem;
  /* background-image: url('/static/img/umbrella.svg'); */
  height: 3rem;

  transform: translateX(-50%) translateY(-50%);

  cursor: pointer;
}

.station-marker img {
  width: 3rem;
  height: 3rem;
}

.station-marker .umbrellas-count {
  position: absolute;
  /* top: -0.7rem;
    left: -0.7rem; */
  bottom: 0;
  left: -0.6rem;
  background-color: #004eab;
  color: #f2f2f2;

  width: 1.2rem;
  height: 1.2rem;
  line-height: 1.2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;

  text-align: center;
}

.station-marker .window {
  display: none;

  position: absolute;
  top: 0;
  right: 0;
  width: 25rem;
  height: 10rem;
  transform: translateX(102%);

  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;

  z-index: 2;
}

.station-marker .window .windowContent {
  display: flex;
  width: 25rem;
  height: 10rem;
  border-radius: 1rem;
}

.station-marker .window .left {
  width: 15rem;
  height: 10rem;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.station-marker .window .right {
  padding: 0.5rem;
}

.station-marker .titleContainer {
  display: flex;
  flex-direction: column;
}

.station-marker .titleContainer .title {
    font-size: 1.1rem;
}

.station-marker .titleContainer .address {
    font-size: 0.9rem;
    color: rgb(117, 117, 117);
}

