* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

nav {
  position: absolute;
  bottom: calc(50% - 4.15rem);
  /* transform: translateY(50%); */
  /* left: 50%; */
  left: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  /* padding: 0.5rem;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem; */
}

.nav-el {
  font-size: 1.6rem;
  color: #4d4d4d;
  padding: 0.4rem 0.5rem 0.2rem;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* border: 1px solid rgb(231, 231, 231); */
}

.nav-el.nav-placeholder {
  opacity: 0;
}

/* .nav-el:hover {
  background: rgba(255, 255, 255, 0.7);
} */


/* Header */

header {
  width: 100%;
  position: absolute;
  top: 0.5rem;
  left: 0;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.5rem;
}

.logo {
  height: 2.2rem;
  cursor: pointer;
}

header .right {
  display: flex;
  gap: 0.5rem;
}

.search-btn, .profile, .header-login {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  cursor: pointer;
}

.search-btn:active, .profile:active {
  background-color: rgb(242, 241, 241);
}

.search-btn, .profile-btn {
  font-size: 1.3rem;
  padding: 0.3rem 0.45rem;
}
/* 
.profile {
  padding: 0.5rem 0.8rem;
} */

.header-login {
  background-color: #ff815b;
  padding: 0.5rem 0.8rem;
  color: white;
}

.header-login:active {
  background-color: #fd6c40;
}


/* Station marker */
.station-marker {
  width: 3rem;
  height: 3rem;

  transform: translateX(-50%) translateY(-50%);

  cursor: pointer;
}

.station-marker img {
  width: 3rem;
  height: 3rem;
}

.station-marker .umbrellas-count {
  position: absolute;
  /* top: -0.7rem;
    left: -0.7rem; */
  bottom: 0;
  right: 2.5rem;
  background-color: #004eab;
  color: #f2f2f2;

  min-width: 1.2rem;
  height: 1.2rem;
  line-height: 1.2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  padding: 0 0.2rem;

  text-align: center;
}

.station-info-window {
  display: none;

  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;

  z-index: 2;
  cursor: default;
}

.station-marker .station-info-window {
  top: 0;
  right: 0;
  width: 25rem;
  height: 10rem;
  transform: translateX(102%);
}

#mainWindow {
  bottom: 5.2rem;
  left: 50%;
  width: 95%;
  height: 10rem;
  transform: translateX(-50%);
}

.station-info-window .windowContent {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.windowContent .left-right-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 2fr;
}

.station-info-window .left {
  height: 10rem;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.station-info-window .right {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.station-info-window .titleContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.station-info-window .titleContainer .title {
    font-size: 1.1rem;
}

.station-info-window .titleContainer .address {
    font-size: 0.9rem;
    color: rgb(117, 117, 117);
}

.station-info-window .titleContainer .number {
  font-size: 0.8rem;
  color: rgb(117, 117, 117);
}


.close-station-info-window {
  position: absolute;
  top: -2.5rem;
  right: 0.5rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  color: #4d4d4d;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.btnContainer {
  display: flex;
  justify-content: space-between;
}

.markerBtn {
  padding: 0.5rem 0.6rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #f0f0f0;
  font-size: 1.05rem;
}

.markerBtn:active {
  background-color: #dedede;
}

.putTakeBtn {
  padding: 0.5rem 0.6rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #fbf8f8;
  font-size: 1.05rem;
}


.take-umbrella-btn, .put-umbrella-btn {
  margin-top: 0.5rem;
  width: 100%;

  background-color: #004eab;
  color: #f2f2f2;
  font-size: 1.1rem;

  padding: 0.7rem 0.8rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.take-umbrella-btn:active, .put-umbrella-btn:active {
  /* background-color: #0056c0; */
  background-color: #004293;
}


/* Route window */
.route-window {
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;

  z-index: 1000;
  overflow: hidden;
}

.navigator-header {
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid #004eab;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-route-window {
  position: absolute;
  top: 0.6rem;
  right: 1rem;

  font-size: 1.6rem;
  cursor: pointer;
}

#navigator {
  width: 100%;
  height: calc(100% - 3rem);
  border: none;
}



/* Search offcanvas */
.search-offcanvas-container {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  transition: visibility 0s linear 0.3s, opacity 0.3s ease;
}

.search-offcanvas {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fefefe;
  border: 1px solid #888;
  width: 30%;
  height: 100%;
  
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.search-offcanvas-container.show {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.search-offcanvas-container.show .search-offcanvas {
  transform: translateX(0);
}

.search-offcanvas-close {
  color: #aaa;
  /* float: right; */
  font-size: 1.5rem;
  font-weight: bold;
}

.search-offcanvas-header-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

#search {
  width: 90%;
  padding: 0.4rem 0.5rem;
  border-radius: 0.5rem;
  outline: none;
  border: 2px solid #dde5f4;
}

#search:focus {
  border: 2px solid #004daf;
}

#searchItemsContainer {
  width: 100%;
  height: 90%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  padding: 0 1rem;
}


/* Search item */
.search-station-info {
  background-color: white;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
  border: 1px solid #dde5f4;
  border-radius: 1rem;
}

.search-station-info .windowContent {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.search-station-info .left-right-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 2fr;
}

.search-station-info .left {
  height: 10rem;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.search-station-info .right {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.search-station-info .titleContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.search-station-info .titleContainer .title {
    font-size: 1.1rem;
}

.search-station-info .titleContainer .address {
    font-size: 0.9rem;
    color: rgb(117, 117, 117);
}

.search-station-info .titleContainer .number {
  font-size: 0.8rem;
  color: rgb(117, 117, 117);
}


/* QR scanner */
.qr-scanner-modal, #qr-scanner-camera {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
}

.qr-scanner-modal {
  display: none;
  background-color: white;
}

.qr-scanner-modal.show {
  display: block;
}

.qr-scanner-buttons {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: space-between;
  width: 100%;
  --qr-scanner-buttons-height: 3rem;
  height: var(--qr-scanner-buttons-height);
  padding: 1rem;
  box-sizing: border-box;

  z-index: 1002;
}

.qr-scanner-buttons .button {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  height: var(--qr-scanner-buttons-height);
}

.qr-scanner-buttons .button-long {
  border-radius: 0.5rem;
  padding: 0 1rem;
}

.qr-scanner-buttons .button-icon {
  width: var(--qr-scanner-buttons-height);
  font-size: 24px;
  border-radius: 50%;
}

.qr-scanner-buttons .button-icon:hover {
  animation: qr-scanner-pulse 1s infinite;
}

.qr-scanner-frame {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 75vw;
  max-width: 300px;
  height: 75vw;
  max-height: 300px;
  border: 3px solid white;
  border-radius: 15px;
  /* box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); */

  z-index: 1002;
}

@keyframes qr-scanner-pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

.qr-scanner-top-text {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);

  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-wrap: nowrap;

  z-index: 1002;
}

.qr-scanner-button {
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  
  width: 4rem;
  height: 4rem;
  background-color: #004dabc1;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.5rem;
  border-radius: 0.7rem;
}

.qr-scanner-button:hover {
  background-color: #004dab;
}



@media (min-width: 320px) and (max-width: 480px) {
  .search-offcanvas {
    width: 100%;
  }
}

