.logo{
    position: absolute;
    margin: 8% auto;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0;
    width: 50%;
    height: 10%;

}

.welcome{
    text-align: center;
    margin-top: 40%;
    height: 30px;
    font-size: 45px;
    color: #F87524;
}

.in{
  margin-top: 15%;
  border-radius: 80px;
  weight: 20%;
  height: 4%;
  text-color: white;
  font-weight: bold;
  color: white;
}

.регистрация {
  border-radius: 25px;
  weight: 20%;
  height: 4%;
  text-color: white;
  font-weight: bold;
  color: white;
  top: 80%;
}