/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  background: #f2f2f2;
}
.container11{
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 550px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
}
.container11 .registration{
  display: none;
}
#check:checked ~ .registration{
  display: block;
}
#check:checked ~ .login{
  display: none;
}
#check{
  display: none;
}
.logo{
  max-width: 400px;
  min-width: 100px;
  width: 90%;
}
.container11 .form{
  padding: 2rem;
}
.form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
 .form input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
 }
 .form input:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }
.form a{
  font-size: 16px;
  color: #004eab;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}

.center_img{
  text-align: center;

}

.form input.button{
  color: #fff;
  background: #ff815b;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 5%;
  cursor: pointer;
  transition: 0.4s;
}
.form input.button:hover{
  background: #004eab;
}

.form input.button_2{
  color: #fff;
  background: green;
  font-size: 1rem;
  font-weight: 50;
  cursor: pointer;
}
.form input.button_2:hover{
  background: #ff815b;
}

.signup{
  font-size: 17px;
  text-align: center;
}
.signup label{
  color: #004eab;
  cursor: pointer;
}
.signup label:hover{
  text-decoration: underline;
}




.container1 {
  display: flex;
  justify-content: center;
  weight: 5px;
  font-size: 15px;
}

.container2 {
  display: flex;
  justify-content: center;
  weight: 5px;
  font-size: 15px;
}

.container3 {
  display: flex;
  justify-content: center;
  weight: 5px;
  font-size: 15px;
}

/* Закрашенный закругленный прямоугольник */
.box1 {
  background-color: #004eab;
  padding: 50px;
  border-radius: 25px;
  color: #fff;
}

/* Размеры и отступы */
.box1 {
  width: 320px;
  height: 180px;
  margin-top: 0%;
}

/* Закрашенный закругленный прямоугольник */
.box2 {
  background-color: #004eab;
  padding: 50px;
  border-radius: 25px;
  color: #fff;
}

/* Размеры и отступы */
.box2 {
  width: 320px;
  height: 180px;
  margin-top: 2%;
}

.box3 {
  background-color: #004eab;
  padding: 50px;
  border-radius: 25px;
  color: #fff;
}

/* Размеры и отступы */
.box3 {
  width: 320px;
  height: 180px;
  margin-top: 2%;
 }


.c1{
  float: right
}

.c1{
  text-align: right;
}

.c2{
  float: right
}

.c2{
  text-align: right;
}
