<!DOCTYPE html>
<html lang="ru">

<head>
    {% include 'components/head_base.html' %}
    {% include 'components/yandex_metrika.html' %}

    <link rel="stylesheet" href="/static/css/business.css">

    <title>Бизнесу — WISH</title>
</head>

<body>
    <section class="first-section" id="firstSection">
        <header>
            <img src="/static/img/logo.png" alt="logo" class="logo-header" onclick="window.location.href='/'">

            <div class="links">
                <a href="/">Главная</a>
                <a href="/auth"><i class="bi bi-box-arrow-in-right"></i> Войти</a>
            </div>
        </header>

        <div class="first-section-content">
            <h1>Станьте партнёром</h1>
            <h2>сервиса бесплатного шеринга зонтов</h2>
            <div class="btns">
                <button onclick="window.location.href='#install-station'">Установить станцию</button>
                <button onclick="window.location.href='#place-ad'">Разместить рекламу</button>
            </div>
        </div>
    </section>

    <section class="install-station-section" id="install-station">

    </section>

    <script src="/static/js/business.js"></script>
</body>

</html>