<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'components/head_base.html' %}

    <link rel="stylesheet" href="/static/css/index.css">

    <title>WISH — сервис бесплатного шеринга зонтов в городе</title>
</head>

<body>
    <section class="first-section">
        <header>
            <img src="/static/img/logo.png" alt="logo" class="logo-header">

            <div class="nav">
                <a href="#pricing">Тарифы</a>
                <a href="#about">О нас</a>
                <a href="#FAQ">Вопросы</a>
                <a href="#support">Поддержка</a>
            </div>

            <div class="links">
                <a href="/business"><i class="bi bi-briefcase-fill"></i> Бизнесу</a>
                <a href="/login"><i class="bi bi-box-arrow-in-right"></i> Войти</a>
            </div>
        </header>

        <div class="first-section-content">
            <div class="left">
                <h1>WISH — сервис бесплатного шеринга зонтов в городе</h1>
                <h2>Возьми зонт бесплатно и верни в ближайшем аппарате</h2>
                <div class="btns-container">
                    <button class="btn find-umbrella-1-btn" onclick="window.location.href='/station-map'">Найти зонт</button>
                    <button class="btn learn-more-btn">Узнать больше</button>
                </div>
            </div>
            <div class="right">
                <img src="/static/img/index/illustration1.png" alt="illustration" class="illustration1">
            </div>
        </div>
    </section>
</body>

</html>