<!DOCTYPE html>
<html lang="ru">

<head>
    {% include 'components/head_base.html' %}

    <link rel="stylesheet" href="/static/css/index.css">

    <title>WISH — сервис бесплатного шеринга зонтов в городе</title>
</head>

<body>
    <section class="first-section">
        <header>
            <img src="/static/img/logo.png" alt="logo" class="logo-header">

            <div class="nav">
                <a href="#pricing">Тарифы</a>
                <a href="#about">О нас</a>
                <a href="#FAQ">Вопросы</a>
                <a href="#support">Поддержка</a>
            </div>

            <div class="links">
                <a href="/business"><i class="bi bi-briefcase-fill"></i> Бизнесу</a>
                <a href="/auth"><i class="bi bi-box-arrow-in-right"></i> Войти</a>
            </div>
        </header>

        <div class="first-section-content">
            <div class="left">
                <h1>WISH — сервис бесплатного шеринга зонтов в городе</h1>
                <h2>Возьми зонт бесплатно и верни в ближайшем аппарате</h2>
                <div class="btns-container">
                    <button class="btn find-umbrella-1-btn" onclick="window.location.href='/station-map'">
                        Найти зонт</button>
                    <button class="btn learn-more-btn" onclick="window.location.href='#tutorial'">
                        Узнать больше</button>
                </div>
            </div>
            <div class="right">
                <img src="/static/img/index/illustration1.png" alt="illustration" class="illustration1">
            </div>
        </div>

        <div class="current-weather" id="current-weather" style="display: none;">
            <span class="current-weather-dot"></span>
            <div>
                <span id="current-weather-city">Загрузка...</span>:
                <span id="current-weather-description">загрузка...</span>
            </div>
        </div>
    </section>

    <section class="short-tutorial-section" id="tutorial">

        <div class="short-tutorial-ocean">
            <div class="short-tutorial-wave"></div>
            <div class="short-tutorial-wave"></div>
            <div class="short-tutorial-wave"></div>
        </div>

        <div class="short-tutorial-container">
            <div class="step">
                <i class="bi bi-person-circle"></i>
                Войди в профиль
            </div>
            <i class="bi bi-chevron-right"></i>
            <div class="step">
                <i class="bi bi-qr-code-scan"></i>
                Найди аппарат
            </div>
            <i class="bi bi-chevron-right"></i>
            <div class="step">
                <i class="bi bi-umbrella"></i>
                Возьми зонт
            </div>
        </div>

    </section>


    <section class="pricing-section" id="pricing">
        <h2>Верни зонт в течение суток и ничего не плати</h2>
        <div class="left-right-container">
            <div class="left">
                <img src="/static/img/index/illustration2.svg" alt="illustration" class="illustration2">
            </div>
            <div class="right">
                <div class="pricing-scheme-container">
                    <div class="item">
                        <div class="time">Сейчас</div>
                        <div class="line-item"><i class="bi bi-caret-down-fill"></i></div>
                        <div class="price">300 рублей депозит</div>
                    </div>
                    <div class="item">
                        <div class="time">Первые 24 часа<br><small>в течение первых суток</small></div>
                        <div class="line-item"><i class="bi bi-caret-down-fill"></i></div>
                        <div class="price">Бесплатно</div>
                    </div>
                    <div class="item">
                        <div class="time">48 часов<br><small>вторые сутки</small></div>
                        <div class="line-item"><i class="bi bi-caret-down-fill"></i></div>
                        <div class="price">300 рублей<br><small>спишется автоматически</small></div>
                    </div>
                    <div class="item">
                        <div class="time">72 часов<br><small>третьи сутки</small></div>
                        <div class="line-item"><i class="bi bi-caret-down-fill"></i></div>
                        <div class="price">300 рублей<br><small>спишется автоматически</small></div>
                    </div>
                    <div class="item">
                        <div class="time">Более 72 часов</div>
                        <div class="line-item last"><i class="bi bi-x-lg"></i></div>
                        <div class="price">Депозит сгорел<br><small>зонт можно не возвращать</small></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="faq-section" id="FAQ">
        <div class="faq-headers">
            <h2>Есть вопросы?</h2>
            <h2>Есть ответы!</h2>
        </div>

        <div class="faq-container">
            <div class="accordion">
                <div class="accordion-item">
                    <div class="question-container">
                        <a>Как работает аренда зонта?</a>
                        <i class="bi bi-caret-down-fill open"></i>
                        <i class="bi bi-x-lg close"></i>
                    </div>
                    <div class="content">
                        <p>Чтобы взять зонт, нужно зарегистрироваться и внести данные банковской карты. При аренде зонта спишется депозит - он вернётся, если взятый зонт окажется в нашем аппарате не позднее 24-х часов с момента взятия. Длительность заказа можно отследить в личном кабинете.<br>
                            Если не вернуть зонт, то мы удержим его стоимость. Подробнее об этом можно узнать в разделе "Тарифы".</p>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="question-container">
                        <a>Где можно взять зонт?</a>
                        <i class="bi bi-caret-down-fill open"></i>
                        <i class="bi bi-x-lg close"></i>
                    </div>
                    <div class="content">
                        <p>Кнопка "Найти зонт" на сайте ведёт на карту, где можно найти ближайший аппарат выдачи зонтов WISH. В карточке аппарата есть описание его местоположения, фотография и информация о наличии зонтов.
                        </p>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="question-container">
                        <a>Как и куда возвращать зонт?</a>
                        <i class="bi bi-caret-down-fill open"></i>
                        <i class="bi bi-x-lg close"></i>
                    </div>
                    <div class="content">
                        <p>Зонт можно вернуть в любой аппарат WISH, в котором есть свободные ячейки. Нужно выбрать аппарат на карте, отсканировав QR-код на нём или введя его номер в поиск. После этого нужно нажать "Вернуть зонт" и следовать дальнейшим инструкциям.</p>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="question-container">
                        <a>Что делать если зонт сломался?</a>
                        <i class="bi bi-caret-down-fill open"></i>
                        <i class="bi bi-x-lg close"></i>
                    </div>
                    <div class="content">
                        <p>Ничего страшного. При возврате зонта нужно отметить "Зонт сломан" на сайте и поместить зонт в ячейку аппарата. Если из-за повреждений поместить зонт в ячейку не получается, то можно оставить зонт рядом с аппаратом, сфотографировать и отправить фото через форму ниже, заполнив необходимые поля и указав номер аппарата, рядом с которым оставлен зонт.</p>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="question-container">
                        <a>Что делать если зонт потерялся?</a>
                        <i class="bi bi-caret-down-fill open"></i>
                        <i class="bi bi-x-lg close"></i>
                    </div>
                    <div class="content">
                        <p>Через 3 дня после взятия зонта заказ автоматически закроется, а мы удержим стоимость зонта. Подробнее об этом можно узнать в разделе "тарифы". Постарайтесь больше не терять зонты, ведь ими могут воспользоваться ещё сотни людей!</p>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="question-container">
                        <a>Что делать, если нашёл зонт WISH?</a>
                        <i class="bi bi-caret-down-fill open"></i>
                        <i class="bi bi-x-lg close"></i>
                    </div>
                    <div class="content">
                        <p>Нужно зайти в личный кабинет, нажать на кнопку "Вернуть зонт" и следовать инструкциям.</p>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="question-container">
                        <a>Почему с меня списываются деньги?</a>
                        <i class="bi bi-caret-down-fill open"></i>
                        <i class="bi bi-x-lg close"></i>
                    </div>
                    <div class="content">
                        <p>Мы предоставляем бесплатную аренду на 24 часа, однако просим у пользователей депозит в размере 300 рублей. Также существуют штрафы за просроченный возврат зонта. Подробнее об этом можно узнать в разделе "Тарифы". Если заказ завершён, а деньги продолжают списываться, нужно заполнить форму ниже с указанием причины обращения. Мы оперативно разберёмся со всеми возникшими проблемами.</p>
                    </div>
                </div>
                
                <div class="accordion-item">
                    <div class="question-container">
                        <a>Сколько зонтов можно взять?</a>
                        <i class="bi bi-caret-down-fill open"></i>
                        <i class="bi bi-x-lg close"></i>
                    </div>
                    <div class="content">
                        <p>На данный момент пользователь может взять только один зонт. Если вы идёте с семьёй или друзьями, то предложите им тоже зарегистрироваться в сервисе, тогда каждый окажется под своим зонтом.</p>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="question-container">
                        <a>Как вернуть зонт, если все ячейки в аппарате заняты?</a>
                        <i class="bi bi-caret-down-fill open"></i>
                        <i class="bi bi-x-lg close"></i>
                    </div>
                    <div class="content">
                        <p>В карточке каждого аппарата указано количество свободных и занятых ячеек, поэтому на карте можно найти ближайший аппарат, в котором есть свободные ячейки для сдачи зонта.</p>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <script src="/static/js/index.js"></script>
</body>

</html>