<!DOCTYPE html>
<!---Coding By CoderGirl | www.codinglabweb.com--->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login & Registration Form | CoderGirl</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="/static/css/klim's_before_pay.css">
</head>
<body>
  <div class="container">
    <div class="login_form">
        <h1 class="center">Зонт бесплатно</h1>
        <p class="center">Сейчас мы перенаправим тебя на сайт для внесения депозита (300 рублей)</p>
        <p class="center">Мы полностью вернём деньги в течении 24 часов после возврата зонта</p>
    </div>
  </div>
</body>
</html>
