<!DOCTYPE html>
<!---Coding By CoderGirl | www.codinglabweb.com--->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login & Registration Form | CoderGirl</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="/static/css/klim's_main.css">
</head>
<body>
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <p class="center_img"><img src="static/pic/logo.png" class="logo" alt="альтернативный текст"></p>
      <p class="center" style="margin-top: 50px"><img class="size" src="static/pic/main.jpg" alt="альтернативный текст"></p>
      <p class="center" style="margin-top: 120px"><input type="button" class="button" value="Взять зонт"></p>
      <p class="center"><input type="button" class="button" value="Сдать зонт"></p>
      <p class="center"><input type="button" class="help_button" value="Поддержка"></p>
      </div>
    </div>
  </div>
</body>
</html>
