<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <script src="https://kit.fontawesome.com/cdba925fc2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style_registration.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/cdba925fc2.js" crossorigin="anonymous"></script>
    <title>WISH</title>
    <style>
    body {
      background-color: #E5E5E5;
    }
  </style>
</head>
<body>

 <picture>
     <img class="logo" src="static/pic/logo.png" alt="альтернативный текст">
 </picture>

    <h1 class="welcome">
        Добро пожаловать!
    </h1>

    <div class="in">
        <div class="mb-3">
            <input style="border-radius: 15px; height: 50px; background-color: white; position: absolute; margin: 08% auto; left: 50%; transform: translate(-50%, 0); width: 70%;" class="form-control" type="text" placeholder="Имя" aria-label="deafult input example">
        </div>
        <div class="mb-3">
            <input style="border-radius: 15px; height: 50px; background-color: white; position: absolute; margin: 20% auto; left: 50%; transform: translate(-50%, 0); width: 70%;" type="password" class="form-control" placeholder="Придумать пароль" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <input style="border-radius: 15px; height: 50px; background-color: white; position: absolute; margin: 32% auto; left: 50%; transform: translate(-50%, 0); width: 70%;" type="password" class="form-control" placeholder="Повторить пароль" id="exampleInputPassword2">
        </div>
        <div class="mb-3">
            <span style="border-radius: 15px; height: 50px; background-color: white; position: absolute; margin: 44% auto; left: 50%; transform: translate(-50%, 0); width: 70%;" class="input-group-text" id="inputGroupPrepend2">+7</span>
            <input style="border-radius: 15px; height: 50px; background-color: white; position: absolute; margin: 44% auto; left: 50%; transform: translate(-50%, 0); width: 70%;" class="form-control" type="text" placeholder="Номер телефона в формате +7XXXXXXXXXX" aria-label="deafult input example">
        </div>
        <div class="mb-3">
            <input style="border-radius: 15px; height: 50px; background-color: white; position: absolute; margin: 56% auto; left: 50%; transform: translate(-50%, 0); width: 70%;" class="form-control" type="text" placeholder="Электронная почта" aria-label="deafult input example">
        </div>
    </div>

    <button  style="background-color: #004eab; position: absolute; margin: 17% auto; left: 50%; transform: translate(-50%, 0); width: 70%;" class="регистрация" name="submit_button" value="To About" type="button">Регистрация</button>

</body>
</html>