<!DOCTYPE html>
<html lang="ru">

<head>
  {% include 'components/head_base.html' %}

  <script src="https://api-maps.yandex.ru/v3/?apikey=122cc2d8-cfc2-4b95-8482-ab66964ffb28&lang=ru_RU"></script>
  <link rel="stylesheet" href="/static/css/station_map.css">

  <title>Карта | WISH</title>
</head>

<body>

  <header>
    <img src="/static/img/logo.png" alt="logo" class="logo">

    <div class="right">
      <div class="search-container">
        <div class="search-btn"><i class="bi bi-search"></i></div>
      </div>
      <div class="header-login" id="headerLoginContainer" onclick="window.location.href='/auth'" style="display: none;">
        Войти
      </div>
      <div class="profile" id="profile" onclick="window.location.href='/profile'">
        <div class="profile-btn"><i class="bi bi-person-fill"></i></div>
      </div>
    </div>
  </header>

  <div id="map"></div>

  <nav>
    <!-- <div class="nav-el"><i class="bi bi-list-ul"></i></div> -->
    <div class="nav-el"><i class="bi bi-qr-code-scan"></i></div>
    <!-- <div class="nav-el"><i class="bi bi-search"></i></div> -->
    <div class="nav-el nav-placeholder"><i class="bi bi-search"></i></div>
    <div class="nav-el"><i class="bi bi-info-circle"></i></div>

  </nav>

  <div class="station-info-window" id="mainWindow"></div>

  <div class="route-window" id="routeWindow">
    <div class="close-route-window" onclick="$('#routeWindow').hide()"><i class="bi bi-x-lg"></i></div>
    <div class="navigator-header">Навигатор</div>
    <iframe src="/loading" id="navigator"></iframe>
  </div>

  <script src="/static/js/station_map.js"></script>
</body>

</html>