<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://api-maps.yandex.ru/v3/?apikey=122cc2d8-cfc2-4b95-8482-ab66964ffb28&lang=ru_RU"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/static/css/station_map.css">

  <link rel="icon" href="/static/img/umbrella.svg" alt="logo" class="logo">

  <title>Карта | WISH</title>
</head>

<body>
  <img src="/static/img/logo.png" alt="logo" class="logo">

  <div class="profile"><span id="name">Марк</span> <i class="bi bi-person-circle"></i></div>

  <div id="map"></div>

  <nav>
    <div class="nav-el"><i class="bi bi-list-ul"></i></div>
    <div class="nav-el"><i class="bi bi-qr-code-scan"></i></div>
    <!-- <div class="nav-el"><i class="bi bi-person-fill"></i></div> -->
  </nav>

  <div class="station-info-window" id="mainWindow"></div>

  <div class="route-window" id="routeWindow">
    <div class="close-route-window" onclick="$('#routeWindow').hide()"><i class="bi bi-x-lg"></i></div>
    <div class="navigator-header">Навигатор</div>
    <iframe src="/loading" id="navigator"></iframe>
  </div>

  <script src="/static/js/station_map.js"></script>
</body>

</html>