$primaryColor: #004daf;
$bgColor1: #1e1e1e;
$bgColor2: #2c2c2c;
$bgColor3: #383838;
$bgColor4: #444444;
$bgLightColor1: #f1f7fe;
$bgLightColor2: #dde5f4;
$textColor: white;
$orangeColor: #ff815b;
$purpleColor: #974f79;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

// DEV
body {
  padding-bottom: 10rem;
  background-color: $bgColor1;
}


/* Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: $orangeColor $bgColor1;
}

*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: $bgColor1;
}
*::-webkit-scrollbar-thumb {
  background-color: #b6c4dd;
  border-radius: 5px;
  border: 3px solid $bgColor1;
}


.btn {
  width: 100%;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 1rem;
  background-color: $orangeColor;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    background-color: #f27b56;
  }
}


/* First section */
.first-section {
  width: 100%;
  height: 100svh;
  min-height: 650px;
  padding-top: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  //   background: linear-gradient(to bottom, $bgColor2 2.5rem, $bgColor1 4rem);
  transition: opacity 2s;
  border-bottom: 1px solid $bgColor3;

  background-color: $bgColor1;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity .5s;
    width: 100%;
    height: 100%;
    pointer-events: none;

    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 129, 91, 0.25), transparent 40%);
    z-index: 2;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;  

  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 3rem;

  .logo-header {
    height: 2.4rem;
    filter: brightness(0) invert(1);
    cursor: pointer;
  }

  .links {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    a {
      text-decoration: none;
      color: $textColor;
      font-weight: 600;

      &:hover {
        color: $orangeColor;
      }
    }
  }

  //   .nav {
  //     height: 100%;
  //     display: flex;
  //     align-items: center;
  //     gap: 1.5rem;

  //     a {
  //       text-decoration: none;
  //       color: $textColor;
  //       font-weight: 600;

  //       &:hover {
  //         color: $orangeColor;
  //       }
  //     }
  //   }
}

.first-section-content {
  width: 70%;
  // margin: 10rem auto 0;

  h1 {
    text-align: center;
    font-size: 6rem;
    color: $orangeColor;
  }

  h2 {
    text-align: center;
    font-size: 2.5rem;
    color: $textColor;
  }

  .btns {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    button {
      border: 1px solid $orangeColor;
      border-radius: 1rem;
      padding: 0.5rem 3rem;
      color: $orangeColor;
      background: transparent;
      font-size: 1.5rem;
      cursor: pointer;
      transition: background, color .3s;

      &:hover {
        background-color: $orangeColor;
        color: white;
      }
    }
  }
}


/* Install station section */
.install-station-section {
  width: 100%;
  padding-top: 6rem;
  background-color: $bgColor1;

  h2 {
    text-align: center;
    font-size: 3rem;
    color: $orangeColor;
    padding: 0 2rem;
  }

  .cards {
    margin-top: 5rem;
    width: 95%;
    display: flex;
    justify-content: center;
    gap: 3rem;

    .card {
      width: 20%;
      // height: 17rem;
      background-color: $bgLightColor2;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: space-between;
      padding: 2rem 1rem;
      border-radius: 1rem;
      gap: 1rem;

      div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        img {
          height: 5rem;
        }
      }

      strong {
        font-size: 1.2rem;
      }
    }
  }
}

.install-station-form-container {
  width: 75%;
  margin: 7rem auto 0;
  display: flex;
  gap: 3rem;

  .left {
    width: 50%;
    .form-header {
      font-size: 2rem;
      color: white;
      font-weight: bold;
      line-height: 2.5rem;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 2rem;
    }
  }

  .right {
    position: relative;
    width: 50%;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10rem;
      z-index: 2;
    }

    &::before, &::after {
      content: "";
      position: absolute;
      bottom: 14rem;
      left: 50%;
      width: 25rem;
      height: 0;
      border-bottom: 1px solid $bgColor3;
      transform: rotate(-33deg) translateX(-50%);
      z-index: 0;
    }
    &::after {
      width: 31rem;
      bottom: 21.5rem;
      left: 40%;
    }
  }
}

#installStationPlace {
  position: relative;
  top: calc(2.5rem / 4 - 1px);

  display: inline-block;
  overflow: hidden;

  $placeHeight: 2.5rem;
  $numberOfElements: 10; 

  height: $placeHeight;

  & > div > div {
    color: $orangeColor;
    height: $placeHeight;
    display: inline-block;
  }

  & > div {
    margin-bottom: $placeHeight;
  }
  & > div:first-child {
    animation: changePlace 20s linear infinite;
  }

  @keyframes changePlace {
    0% {margin-top: #{$placeHeight * 2 * $numberOfElements * (-1)};}

    2% {margin-top: #{$placeHeight * 2 * $numberOfElements * (-1) + ($placeHeight * 2 * 1)};}
    10% {margin-top: #{$placeHeight * 2 * $numberOfElements * (-1) + ($placeHeight * 2 * 1)};}

    12% {margin-top: #{$placeHeight * 2 * $numberOfElements * (-1) + ($placeHeight * 2 * 2)};}
    20% {margin-top: #{$placeHeight * 2 * $numberOfElements * (-1) + ($placeHeight * 2 * 2)};}

    22% {margin-top: #{$placeHeight * 2 * $numberOfElements * (-1) + ($placeHeight * 2 * 3)};}
    30% {margin-top: #{$placeHeight * 2 * $numberOfElements * (-1) + ($placeHeight * 2 * 3)};}

    32% {margin-top: #{$placeHeight * 2 * $numberOfElements * (-1) + ($placeHeight * 2 * 4)};}
    40% {margin-top: #{$placeHeight * 2 * $numberOfElements * (-1) + ($placeHeight * 2 * 4)};}

    42% {margin-top: #{$placeHeight * 2 * $numberOfElements * (-1) + ($placeHeight * 2 * 5)};}
    50% {margin-top: #{$placeHeight * 2 * $numberOfElements * (-1) + ($placeHeight * 2 * 5)};}

    52% {margin-top: #{$placeHeight * 2 * $numberOfElements * (-1) + ($placeHeight * 2 * 6)};}
    60% {margin-top: #{$placeHeight * 2 * $numberOfElements * (-1) + ($placeHeight * 2 * 6)};}

    62% {margin-top: #{$placeHeight * 2 * $numberOfElements * (-1) + ($placeHeight * 2 * 7)};}
    70% {margin-top: #{$placeHeight * 2 * $numberOfElements * (-1) + ($placeHeight * 2 * 7)};}

    72% {margin-top: #{$placeHeight * 2 * $numberOfElements * (-1) + ($placeHeight * 2 * 8)};}
    80% {margin-top: #{$placeHeight * 2 * $numberOfElements * (-1) + ($placeHeight * 2 * 8)};}

    82% {margin-top: #{$placeHeight * 2 * $numberOfElements * (-1) + ($placeHeight * 2 * 9)};}
    90% {margin-top: #{$placeHeight * 2 * $numberOfElements * (-1) + ($placeHeight * 2 * 9)};}

    92% {margin-top: 0px;}
    99.99% {margin-top: 0px;}

    100% {margin-top:#{$placeHeight * 2 * $numberOfElements * (-1)};}
  }
}


.install-station-form {
  input, textarea {
    width: 100%;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 1px solid $bgColor4;
    background-color: $bgColor1;
    color: white;
  }
  textarea {
    resize: none;
  }
}
