$primaryColor: #004daf;
$bgColor1: #f1f7fe;
$bgColor2: #dde5f4;
$orangeColor: #ff815b;
$purpleColor: #974f79;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  scroll-behavior: smooth;
}


/* Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #b6c4dd $bgColor1;
}

*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: $bgColor1;
}
*::-webkit-scrollbar-thumb {
  background-color: #b6c4dd;
  border-radius: 5px;
  border: 3px solid $bgColor1;
}


/* First section */
.first-section {
  width: 100%;
  height: 100vh;

  // background-color: $bgColor1;
  background: linear-gradient(to bottom, $bgColor2 2.5rem, $bgColor1 4rem);
  border-bottom: 1px solid $bgColor2;
}

header {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 2rem;
  // background-color: $bgColor2;

  .logo-header {
    height: 2.4rem;
  }

  .links {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    a {
      text-decoration: none;
      // color: #004daf;
      color: black;
      font-weight: 600;
    }
  }

  .nav {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    a {
      text-decoration: none;
      color: $primaryColor;
      font-weight: 600;
    }
  }
}

.first-section-content {
  width: 80%;
  margin: 5rem auto;
  display: flex;
  gap: 3rem;
  
  .left {
    width: 50%;
    margin: auto;
    h1 {
      font-weight: 800;
      font-size: 2rem;
      line-height: 2rem;
    }
    h2 {
      font-weight: 500;
      font-size: 1.6rem;
      margin-top: 1rem;
    }
    .btns-container {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  }

  .right {
    width: 50%;
    .illustration1 {
      width: 100%;
    }
  }

}

.btn {
  width: 100%;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: $primaryColor;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    background-color: #003f92;
  }
}

.find-umbrella-1-btn {
  font-size: 1.3rem;
}

.learn-more-btn {
  font-size: 1.3rem;
  background-color: $bgColor2;
  color: black;
  &:hover {
    background-color: #cbd3e1;
  }
}

.current-weather {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  span {
    font-weight: 500;
  }

  .current-weather-dot {
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
    position: relative;
  }
  .current-weather-dot::after,
  .current-weather-dot::before {
    content: '';  
    box-sizing: border-box;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background: $primaryColor;
    position: absolute;
    left: 0;
    top: 0;
    animation: anim-dot 2s linear infinite;
  }
  .current-weather-dot::after {
    animation-delay: 1s;
  }
  
  @keyframes anim-dot {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
}


/* Short tutorial */
.short-tutorial-section {
  width: 100%;
  position: relative;
  background-color: $bgColor1;
  padding-top: 5rem;
}


.short-tutorial-ocean {
  height: 50px; /* change the height of the waves here */
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.short-tutorial-wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
  position: absolute;
  width: 200%;
  height: 100%;
  animation: short-tutorial-wave 100s -3s alternate infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  right: 0;
}

.short-tutorial-wave:nth-of-type(2) {
  bottom: 0;
  animation: short-tutorial-wave 180s linear alternate-reverse infinite;
  opacity: 0.5;
}

.short-tutorial-wave:nth-of-type(3) {
  bottom: 0;
  animation: short-tutorial-wave 200s -1s alternate infinite;
  opacity: 0.5;
}

@keyframes short-tutorial-wave {
    0%, 100% {transform: translateX(0);}
    25%, 75% {transform: translateX(25%);}
    50% {transform: translateX(50%);}
}


.short-tutorial-container {
  padding: 2rem;
  width: 100%;
  background-color: #0c4882;
  display: flex;
  justify-content: center;
  gap: 3rem;

  color: white;
  font-size: 1.6rem;
  font-weight: 600;
}



/* Pricing section */
.pricing-section {
  width: 100%;
  background-color: $bgColor1;
  padding: 5rem 0 3rem;
  border-bottom: 1px solid $bgColor2;

  h2 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
  }
  
  .left-right-container {
    width: 80%;
    margin: 5rem auto;
    display: flex;
    gap: 3rem;

    .left {
      width: 50%;
      .illustration2 {
        transform: scale(-1, 1);
        width: 80%;
        margin: auto;
      }
    }

    .right {
      width: 50%;
      margin: auto;
    }
  }
}


.pricing-scheme-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .item {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .time, .price {
      display: flex;
      flex-direction: column;
      width: 42%;
      background-color: $bgColor2;
      border-radius: 1rem;
      padding: 0.7rem;
      text-align: center;
      justify-content: center;
      // color: $primaryColor;
    }

    small {
      color: gray;
    }

    .line-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      // align-content: center;
      justify-content: center;
      color: $primaryColor;
      position: relative;
      font-size: 1.7rem;

      &::before {
        content: "";
        position: absolute;
        height: calc(100% + 1rem);
        width: 2px;
        // border-right: 2px solid $primaryColor;
        background-color: $primaryColor;
        top: 0;
        left: calc(50% - 1px);
      }

      i {
        position: relative;
        z-index: 2;
      }

      &.last {
        &::before {
          height: 50%;
        }
      }
    }
  }
}



/* About section */
.about-section {
  width: 100%;
  background-color: $bgColor1;
  padding: 5rem 0;
}

.founder-person-container {
  display: flex;
  justify-content: center;
}

.person-card {
  border: 2px solid $purpleColor;
  border-radius: 1rem;
  padding: 2rem 1rem;
  width: 18rem;

  .photo {
    display: block;
    width: 80%;
    margin: 0 auto;
    border-radius: 50%;
  }

  .name, .position {
    width: 100%;
    text-align: center;
  }
  .name {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  .position {
    margin-top: 0.3rem;
  }

  &.no-border {
    border: none;
  }
}

.about-text {
  margin: 1rem auto;
  position: relative;
  width: 60%;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;

  background: linear-gradient(to right, $purpleColor 4px, transparent 4px) 0 100%, linear-gradient(to left, $purpleColor 4px, transparent 4px) 100% 0, linear-gradient(to bottom, $purpleColor 4px, transparent 4px) 100% 0, linear-gradient(to top, $purpleColor 4px, transparent 4px) 0 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;

  &:before {
    content:"\F6B0";
    position: absolute;
    font-family: "bootstrap-icons";
    top: -1.8rem;
    left: -1.8rem;
    color: $purpleColor;
    font-size: 3rem;
  }

  &:after {
    content:"\F6B0";
    position: absolute;
    font-family: "bootstrap-icons";
    bottom: -1.8rem;
    right: -1.8rem;
    color: $purpleColor;
    font-size: 3rem;
    transform: rotate(180deg);
  }
}



/* Faq section */
.faq-section {
  width: 100%;
  background-color: $bgColor2;
  padding: 5rem 0 2.5rem;
}

.faq-headers {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;

  h2 {
    font-size: 1.8rem;
    font-weight: 800;

    &:last-child {
      color: $orangeColor;
    }
  }
}

.faq-container {
  width: 60%;
  margin: 3rem auto;
}


.accordion {
  .accordion-item {
    .question-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 1rem 2rem;
      border-top: 1px solid $orangeColor;
      cursor: pointer;
      font-weight: 600;

      i {
        color: $orangeColor;
      }

      i.close {
        display: none;
      }
    }

    .content {
      opacity: 0;
      padding: 0 1rem;
      max-height: 0;
      // border-bottom: 1px solid #e5e5e5;
      overflow: hidden;
      clear: both;
      transition: all 0.2s ease;

      p {
        font-size: 1rem;
        font-weight: 300;
      }
    }

    // &.last {
    //   .question-container {
    //     border-bottom: 1px solid $orangeColor;
    //   }
    // }

    &.active {
      .content {
        opacity: 1;
        padding: 1rem;
        max-height: 100%;
        transition: all 0.35s ease;
      }
      .question-container {
        i.open {
          display: none;
        }
        i.close {
          display: block;
        }
      }
      // &.last {
      //   .question-container {
      //     border-bottom: none;
      //   }
      //   .content {
      //     border-bottom: 1px solid $orangeColor;
      //   }
      // }
    }

  }
}


/* Support section */
.support-section {
  width: 100%;
  background-color: $bgColor2;
  padding: 2.5rem 0 5rem;

  .left-right-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    gap: 3rem;

    .left {
      width: 50%;
      
      h2 {
        font-size: 1.8rem;
        font-weight: 800;
      }
      p {
        margin-top: 1rem;
        font-size: 1.2rem;
      }
    }

    .right {
      width: 50%;
      margin: auto;
    }
  }
}

.support-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.support-input, .support-textarea {
  width: 100%;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
}
.support-textarea {
  resize: none;
}

.support-send-btn {
  background-color: $orangeColor;
  &:hover {
    background-color: #f27b56;
  }
}
