$primaryColor: #004daf;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  scroll-behavior: smooth;
}


/* First section */
.first-section {
  width: 100%;
  height: 100vh;

  // background-color: #f1f7fe;
  background: linear-gradient(to bottom, #dde5f4 2.5rem, #f1f7fe 4rem);
  border-bottom: 1px solid #dde5f4;
}

header {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 2rem;
  // background-color: #dde5f4;

  .logo-header {
    height: 2.4rem;
  }

  .links {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    a {
      text-decoration: none;
      // color: #004daf;
      color: black;
      font-weight: 600;
    }
  }

  .nav {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    a {
      text-decoration: none;
      color: $primaryColor;
      font-weight: 600;
    }
  }
}

.first-section-content {
  width: 80%;
  margin: 5rem auto;
  display: flex;
  gap: 3rem;
  
  .left {
    width: 50%;
    margin: auto;
    h1 {
      font-weight: 800;
      font-size: 2rem;
      line-height: 2rem;
    }
    h2 {
      font-weight: 500;
      font-size: 1.6rem;
      margin-top: 1rem;
    }
    .btns-container {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  }

  .right {
    width: 50%;
    .illustration1 {
      width: 100%;
    }
  }

}

.btn {
  width: 100%;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: $primaryColor;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    background-color: #003f92;
  }
}

.find-umbrella-1-btn {
  font-size: 1.3rem;
}

.learn-more-btn {
  font-size: 1.3rem;
  background-color: #dde5f4;
  color: black;
  &:hover {
    background-color: #cbd3e1;
  }
}

.current-weather {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  span {
    font-weight: 500;
  }

  .current-weather-dot {
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
    position: relative;
  }
  .current-weather-dot::after,
  .current-weather-dot::before {
    content: '';  
    box-sizing: border-box;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background: $primaryColor;
    position: absolute;
    left: 0;
    top: 0;
    animation: anim-dot 2s linear infinite;
  }
  .current-weather-dot::after {
    animation-delay: 1s;
  }
  
  @keyframes anim-dot {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
}


/* Short tutorial */
.short-tutorial-section {
  width: 100%;
  position: relative;
  background-color: #f1f7fe;
  padding-top: 5rem;
}


.short-tutorial-ocean {
  height: 50px; /* change the height of the waves here */
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.short-tutorial-wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
  position: absolute;
  width: 200%;
  height: 100%;
  animation: short-tutorial-wave 100s -3s alternate infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  right: 0;
}

.short-tutorial-wave:nth-of-type(2) {
  bottom: 0;
  animation: short-tutorial-wave 180s linear alternate-reverse infinite;
  opacity: 0.5;
}

.short-tutorial-wave:nth-of-type(3) {
  bottom: 0;
  animation: short-tutorial-wave 200s -1s alternate infinite;
  opacity: 0.5;
}

@keyframes short-tutorial-wave {
    0%, 100% {transform: translateX(0);}
    25%, 75% {transform: translateX(25%);}
    50% {transform: translateX(50%);}
}


.short-tutorial-container {
  padding: 2rem;
  width: 100%;
  background-color: #0c4882;
  display: flex;
  justify-content: center;
  gap: 3rem;

  color: white;
  font-size: 1.6rem;
  font-weight: 600;
}



/* Pricing section */
.pricing-section {
  width: 100%;
  background-color: #f1f7fe;
  padding: 5rem 0;

  h2 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
  }
  
  .left-right-container {
    width: 80%;
    margin: 5rem auto;
    display: flex;
    gap: 3rem;

    .left {
      width: 50%;
      .illustration2 {
        transform: scale(-1, 1);
        width: 100%;
      }
    }

    .right {
      width: 50%;
      margin: auto;
    }
  }
}


.pricing-scheme-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .item {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .time, .price {
      width: 42%;
      background-color: #dde5f4;
      border-radius: 1rem;
      padding: 0.7rem;
      text-align: center;
      align-content: center;
      // color: $primaryColor;
    }

    small {
      color: gray;
    }

    .line-item {
      align-content: center;
      color: $primaryColor;
      position: relative;
      font-size: 1.7rem;

      &::before {
        content: "";
        position: absolute;
        height: calc(100% + 1rem);
        width: 2px;
        // border-right: 2px solid $primaryColor;
        background-color: $primaryColor;
        top: 0;
        left: calc(50% - 1px);
      }

      i {
        position: relative;
        z-index: 2;
      }

      &.last {
        &::before {
          height: 50%;
        }
      }
    }
  }
}
